@model BlogApp.Models.ListViewModel

@{ 
    // var currentPage = ViewContext.HttpContext.Request.Query["p"].ToString() != null ? int.Parse(ViewContext.HttpContext.Request.Query["p"].ToString()) : 1;
    var currentPage = ViewContext.HttpContext.Request.Query["p"].ToString();
    var currentPageInt = 0;
    if (!String.IsNullOrWhiteSpace(currentPage))
    {
        currentPageInt = int.Parse(currentPage);
    }
    var totalPages = Math.Ceiling((double)Model.TotalPosts / 10);
}

@if (currentPageInt > 1 || currentPageInt < totalPages)
{
    var p = string.Format("p={0}", currentPageInt - 1);
    var n = string.Format("p={0}", currentPageInt + 1);

    if (ViewContext.RouteData.Values["action"].ToString().Equals("search", StringComparison.OrdinalIgnoreCase))
    {
        var s = String.Format("?s={0}", ViewContext.HttpContext.Request.Query["s"]);
        p = String.Format("{0}&{1}", s, p);
        n = String.Format("{0}&{1}", s, p);
    }
    else
    {
        p = String.Concat("?", p);
        n = String.Concat("?", n);
    }

    <div class="pager">
        <a href="@p" title="Previous" class="previous" style="visibility:@(currentPageInt > 1 ? "visible" : "collapse")"> previous </a>
        <a href="@n" title="Next" class="next" style="visibility:@(currentPageInt < totalPages ? "visible" : "collapse")"> next </a>
    </div>
}
