@{
    ViewData["Title"] = "Tech Life";
}

@section  Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}

<div class="text-center">
    <img class="img-fluid" src="~/images/home-img.jpg" />
    <h1 class="display-4 font-weight-bold title">Welcome to Tech Life!</h1>
    <p class="content text-center">A personal blog documenting an aspiring software developer's journey, among other things.</p>
</div>
