@model BlogApp.Models.WidgetViewModel

<div id="sidebars">
    @await Html.PartialAsync("Components/Sidebars/_Categories", Model.Categories)
    @await Html.PartialAsync("Components/Sidebars/_Tags", Model.Tags)
    @await Html.PartialAsync("Comopnents/Sidebars/_LatestPosts", Model.LatestPosts)
</div>