@model BlogApp.Models.ListViewModel

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <h1>@ViewBag.Title</h1>

    @await Html.PartialAsync("_Pager", Model);

    @if (Model.Posts.Count > 0)
    {
        foreach (var post in Model.Posts)
        {
            @await Html.PartialAsync("_PostTemplate", post)
        }
    }
    else
    {
        <p> No posts found! </p>
    }

    @await Html.PartialAsync("_Pager", Model);
</div>


