@model Data.Entities.Post

@{ 
    foreach (var postTag in Model.PostTags)
    {
        Data.Entities.Tag tag = postTag.Tag;
        <div class="tags-div">
            @Html.TagLink(tag)
        </div>
    }
 }
